@model DAL.Models.School

@{
    ViewBag.Title = "SchoolDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>School - @Html.DisplayFor(model => model.Name)</h2>

<hr />
<h2>Teachers</h2>
<hr />
<div>
    <table class="table">
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Age </th>
            <th> Home Phone </th>
        </tr>
        @foreach (DAL.Models.Teacher item in ViewBag.Teacher)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.FirstName)</td>
                <td>@Html.DisplayFor(model => item.LastName)</td>
                <td>@Html.DisplayFor(model => item.Age)</td>
                <td>@Html.DisplayFor(model => item.Phone)</td>
            </tr>
        }
    </table>
</div>
<hr />
<h2>Pupils</h2>
<hr />
<div>
    <table class="table">
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Age </th>
            <th> Home Phone </th>
        </tr>
        @foreach (DAL.Models.Pupil item in ViewBag.pupil)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.FirstName)</td>
                <td>@Html.DisplayFor(model => item.LastName)</td>
                <td>@Html.DisplayFor(model => item.Age)</td>
                <td>@Html.DisplayFor(model => item.HomePhone)</td>
            </tr>
        }
    </table>
</div>
<hr />
<div class="btn btn-default btn-number">
    @Html.ActionLink(" Back ", "Index")
</div>

