@model IEnumerable<DAL.Models.Teacher>

@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Teacher</h2>
<table class=" table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Age)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th></th>
    </tr>
    @foreach (DAL.Models.Teacher item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Age)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td class=" btn-info-block">
                <div class="btn btn-default btn-number">
                    @Html.ActionLink("Details", "DetailsTeacher", new { id = item.TeacherID })
                </div>
                <div class="btn btn-default btn-number">
                    @Html.ActionLink("Edit", "EditTeacher", new { id = item.TeacherID })
                </div>
                <div class="btn btn-default btn-number">
                    @Html.ActionLink("Delete", "DeleteTeacher", new { id = item.TeacherID })
                </div>
            </td>
        </tr>
    }
</table>
<hr />
<div class="btn btn-default btn-number">
    @Html.ActionLink("Create", "CreateTeacher")
</div>
